.wrapper {
    display: flex;
    justify-content: center;
    min-height: 150vh;
}

.enlaceBoton {
    text-decoration: none;
    position: absolute;
    display: inline;
    padding: 25px 30px;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: $color-aqua;
    font-size: 2.5rem;
    font-weight: bold;
    transition: .5s;
    overflow: hidden;
    margin-right: 70px;

    &:hover {
        background-color: $color-aqua;
        color: #050801;
        box-shadow: 0 0 5px $color-aqua, 0 0 25px $color-aqua, 0 0 50px $color-aqua, 0 0 200px $color-aqua;
        -webkit-box-reflect: below 1px linear-gradient(transparent, #0005);
    }
}