.introGaleria {
    height: 10rem;
    display: flex;
    justify-content: center;
    align-items: center;

    h2 {
        color: gold;
        font-size: 4rem;
        font-weight: 700;
        text-align: center;
    }
}

.imagenGaleeria {
    border-radius: 1rem;
    padding: 0.4rem;
    max-width: 100%;
    filter: grayscale(50%);
}

.videoResponsive {
    flex: auto;
}