@mixin anclas {
    text-decoration: none;
    color: beige;
}
.encabezado {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 6rem 0;
    height: 10rem;
}

.tituloPrincipal {
    @include anclas;
    display: inline-block;
    font-size: 5rem;

    /*poner el logo a ca*/
    font-weight: 500;
    height: 200px;

    
}